.banner {
  color: white;
  object-fit: contain;
  height: 548px;
}

.banner_homepage {
  height: 448px;
}

.background__poster {
  background-size: cover;
  background-position: center;
}

.banner__contents {
  margin-left: 30px;
  padding-top: 140px;
  height: 230px;
}

.banner__contents_homepage {
  height: 190px;
}

.banner__title {
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 0.3 rem;
}

.banner_description {
  width: 45rem;
  line-height: 1.3;
  padding-top: 1rem;
  font-size: 1rem;
  font-weight: 400;
  max-width: 360px;
  height: 80px;
}

.banner__button {
  cursor: pointer;
  color: #fff;
  border: none;
  font-weight: 700;
  border-radius: 0.2vw;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-right: 1rem;
  padding-top: 0.5rem;

  background-color: rgba(51, 51, 51, 0.5);
  padding-bottom: 0.5rem;
}

.banner__button:hover {
  color: #000;
  background-color: #e6e6e6e6;
  transition: all 0.2s;
}

.banner__fadebottom {
  height: 20rem;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #111
  );
}

.close__button {
  background-color: red;
}
